# Node
node_modules/
**/node_modules/

# Build outputs
dist/
build/
frontend-project/dist/

# Vite cache
.vite/

# Env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Editor directories and files
.vscode/
.idea/
